.one1 {
    display: none;
    color  : red;

}

.one2 {
    display: none;
    color  : red;

}

.twobreak {
    display: none;
    color  : red;

}

.mc_break_h {
    display: none;
    color  : red;

}

.vali {
    display: none;
    color  : red;

}

#count {
    width: 30px;
}

#count_one {
    width: 30px;
}

#count_two {
    width: 30px;
}

#count_three {
    width: 30px;
}

#count_four {
    width: 30px;
}
#count_five {
    width: 30px;
}
#count_six {
    width: 30px;
}

#count_seven {
    width: 30px;
}

#count_eight {
    width: 30px;
}

#count_nine {
    width: 30px;
}
#count_ten , .count{
    width: 30px;
    }

.vege_grilled {
    display: none;
}

.vege_col {
    display: none;
}

.add_btn {
    display: none;
}
.add_btn ,.mc_lunch_chick, .mc_lunch_ham ,.mc_lunch_cheese, .mc_lunch_chick_ham , .mc_lunch_chick_cheese, .mc_lunch_chick_fries,
.mc_lunch_chick_ham_fries, .mc_lunch_chick_ham_cheese, .mc_lunch_chick_cheese_ham, .mc_lunch_chick_cheese_fries, .mc_lunch_chick_fries_ham, 
.mc_lunch_chick_fries_cheese, .mc_lunch_ham, .mc_lunch_ham_chick, .mc_lunch_ham_cheese, .mc_lunch_ham_fries, .mc_lunch_ham_chick_fries,
.mc_lunch_ham_chick_cheese, .mc_lunch_ham_cheese_chick, .mc_lunch_ham_cheese_fries, .mc_lunch_ham_fries_chick, .mc_lunch_ham_fries_cheese,
.mc_lunch_cheese, .mc_lunch_cheese_chick, .mc_lunch_cheese_ham, .mc_lunch_cheese_fries, .mc_lunch_cheese_chick_ham, .mc_lunch_cheese_chick_fries,
.mc_lunch_cheese_ham_chick,   .mc_lunch_cheese_ham_fries, .mc_lunch_cheese_fries_chick, .mc_lunch_cheese_fries_ham, .mc_lunch_fries, .mc_lunch_fries_chick,
.mc_lunch_fries_ham, .mc_lunch_fries_cheese, .mc_lunch_fries_chick_ham, .mc_lunch_fries_chick_cheese, .mc_lunch_fries_ham_chick, .mc_lunch_fries_ham_cheese,
.mc_lunch_fries_cheese_chick, .mc_lunch_fries_cheese_ham,.addbtnmclunchwala ,.vali_lunch{
    display: none;
}




